<html ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-controller="mainController">
        <label>What is your twitter handle?</label>
        <input ng-model="twHandle" type="text" />
        <hr/>
        <label>twitter.com/{{ lowercaseHandle() }}</label>
        <div class="alert" ng-hide="twHandle.length === characters"
             ng-class="{'alert-warning': twHandle.length < characters, 'alert-danger': twHandle.length > characters}">
            <div ng-show="twHandle.length < characters">
                Less than {{ characters }} letters.
            </div>
            <div ng-show="twHandle.length > characters">
                More than {{ characters }} letters.
            </div>
        </div>
        <div >
            <h3>Rules:</h3>
            <ol>
                <li ng-repeat="rule in rules">{{ rule.rulename }}</li>
            </ol>
            
        </div>
        <hr/>
        <div>
            <input type="button" ng-click="login()" value="Login" />
            <br/>
            <label>Result {{ loginResult }}</label>
        </div>
        
        <hr/>
       <div>
       		<input type="text" ng-model="ask" />
            <input type="button" ng-click="sendMessage()" value="Sent message" />
            <br/>
            <label>Result {{ messageResult }}</label>
        </div>
    </div>
</body>

</html>