<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Free Share the Blog Website Template | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<!-- light-box -->
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>	
	<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
     <script type="text/javascript">
		$(document).ready(function() {

			$('.fancybox').fancybox();

		});
	</script>
<!---- End Light-box ------>
</head>
<body>
<div class="header">
 <div class="header_top">
    <div class="wrap">
	  <div class="header-top-left">
			<div class="logo">
			     <a href="index.html"><h1>KNOW<br/>SHARE<br/>LEARN</h1>
			     </a>
			</div>
		<div class="menu">
		     <ul class="menu bounce">
		       <li class="active"><a href="index.html" class="active">Anasayfa</a></li>
		       <li><a href="single.html">Hakkımda</a></li>
		       <li><a href="single.html">Hizmetler</a></li>
		       <li><a href="contact.html">İletişim</a></li>
		     </ul>
	   </div>
	 <div class="clear"></div>
   </div>  
	   <div class="header-top-right">
	   			<div class="social-icons">			
		                <ul>
		                	<li><a class="youtube" href="#" target="_blank"><span>Youtube</span></a></li>
		                    <li><a class="facebook" href="#" target="_blank"><span>Facebook</span> </a></li>
		                    <li><a class="twitter" href="#" target="_blank"><span>Twitter</span> </a></li>
		                    <li><a class="skype" href="#" target="_blank"><span>Skype</span> </a></li>
		                    <li><a class="likedin" href="#" target="_blank"><span>Likedin</span> </a></li>
		                    <li><a class="vimeo" href="#" target="_blank"><span>vimeo</span> </a></li>
		                    <div class="clear"></div>
		                </ul>
		 		    </div>   	   
				   			<div class="search_box">
							    <form>
									<input type="text" class="text-box" placeholder="Search for Blog"><input type="submit" value="" />
							    </form>
						   </div>
			  		 <div class="clear"></div>
		  		 </div>
		  		<div class="clear"></div>
	  		</div>
		</div>
</div>
<!--------------------- Main Content ------------------->
<div ng-app="myApp" ng-controller="myCtrl">

    First Name : <input type="text" ng-model="firstName"><br> 
    Last Name: <input type="text" ng-model="lastName"><br>
    <br> Full Name: {{firstName + "  :: " + lastName}}

</div>
<div class="wrap">
	<div class="main">
		<div class="content">
			<div class="box1">
   				 <h3><a href="single.html">Hedef Belirlemenin En Etkin Yolları</a></h3>
    				<span>By Serdar CERAN- 2 hours ago<span class="comments">8 Comments</span></span> 
			   <div class="view">
					<div class="view-back">
						<span class="views" title="views">(566)</span>
						<span class="likes" title="likes">(124)</span>
						<span class="link" title="link">(24)</span>
						<a href="single.html"> </a>
					</div>
					<a href="single.html"><img src="images/img1.jpg"></a>
				</div>
				<div class="data">
				    <p>Bir insanın hedef belirleyip hedeflerine kilitlenmesi belkide insan oğlunun en büyük sorunlarından biri olagelmiştir. Çünkü isteği şeyi her nekadar çok istese de onu devam ettirecek sürekliliği elinde bulunduramamaktadır. Stres, acı ve umutsuzluk gibi duygularla karşılaştıkça da ve de mecbur da değilse hedeflerinden uzaklaşması an meselesidir. Bu yazımda sizi hedefinizi belirlemede ve ona sonuna kadar kilitlenmede kendi tecrübelirime dayanarak destek olmak istiyorum.</p>
				    <span><a href="single.html">Okumaya devam edelim >>></a></span>
				</div>
			<div class="clear"></div>
		</div>
			<div class="box1">
			   	 <h3><a href="single.html">Yazılıma Nerden Başlamalıyım?</a></h3>
			    <span>By Serdar CERAN- 10 hours ago<span class="comments">5 Comments</span></span>
			 <div class="view">
					<div class="view-back">
						<span class="views" title="views">(566)</span>
						<span class="likes" title="likes">(124)</span>
						<span class="link" title="link">(24)</span>
						<a href="single.html"> </a>
					</div>
					<a href="single.html"><img src="images/img2.jpg"></a>
				</div>
				<div class="data">
				    <p>10 yıllık bir yazılımcı olarak yazılım süreçlerine bir nebzede olsa hakim olduğumu düşünüyorum. İlk zamanlar yazılım işine nerden nasıl başlamam gerektiği konusunda kafam bir hayli karışıkken, daha sonraları iyi bir yazılımcı olduğumu düşündüğüm ama gerçekte kötü olduğum dönemlerden geçtim. İlerleyen zamanlarda artık yazılım süreçleri konusunda tecrübelerim artsa da halen bu okyanusta bilinmedik çok şey olduğunu anlıyorum. Bu makalede yazılım süreçleri konusunda edindiğim tecrübelerden bahsetmek istiyorum.</p>
				    <span><a href="single.html">Okumaya devam edelim >>></a></span>
				</div>
			<div class="clear"></div>
	     </div>
				<div class="box1">
				    <h3><a href="single.html">Alışkanlık Edinme/Bırakma Yöntemlerim</a></h3>
				    <span>By Serdar CERAN - 1 day ago<span class="comments">12 Comments</span></span>
				 <div class="view">
					<div class="view-back">
						<span class="views" title="views">(566)</span>
						<span class="likes" title="likes">(124)</span>
						<span class="link" title="link">(24)</span>
						<a href="single.html"> </a>
					</div>
					<a href="single.html"><img src="images/img3.jpg"></a>
				</div>
					<div class="data">
					    <p>Hayatımda bir çok bağımlılığım oldu, TV izleme, boş şeylerle vakit harcama gibi... Bunun yanında alışkanlık haline getiremediğim birçok şey oldu; spor yapmak, rejim yapmak, kitap okumak gibi.... Tüm bunlar edinilmesi zor alışkanlıklar gerçekten. 36 yıllık ömrümde bu alışkanlıkları edinmek için bir çok yol edindim. Hiç başaramayacağımı düşündüğüm anlar oldu. Ama şimdi bunu başardığımı söylemek istiyorum. Bu başarımı kendisini geliştirmek ve hayatta daha başarılı olmak isteyen herkezle paylaşmak bana mutluluk verecektir.</p>
					    <span><a href="single.html">Okumaya devam edelim  >>></a></span>
					</div> 
				<div class="clear"></div>
			</div>
					<div class="page_links">
						<div class="next_button">
							 <a href="#">Sonraki</a>
						</div>
							<div class="page_numbers">
							    <ul>
									<li><a href="#">1</a>
									<li class="active"><a href="#">2</a>
									<li><a href="#">3</a>
									<li><a href="#">4</a>
									<li><a href="#">5</a>
									<li><a href="#">6</a>
									<li><a href="#">... Sonraki</a>
								</ul>
							</div>	
						<div class="clear"></div>
					<div class="page_bottom">
						<p>Back To : <a href="#">Üst</a> |  <a href="#">Anasayfa</a></p>
					</div>
			</div>
</div>
<div class="sidebar">
<div class="sidebar_top">
    <h3>Blog Categories</h3>
<div class="sidebar_top_list">
	 <ul>
		<li><a href="#"><span class="category-name">Tasarım</span> <span class="count">(6)</span><div class="clear"></div></a></li>
		<li><a href="#"><span class="category-name">Yazılım</span> <span class="count">(22)</span><div class="clear"></div></a></li>
		<li><a href="#"><span class="category-name">Gündem</span> <span class="count">(44)</span><div class="clear"></div></a></li>
		<li><a href="#"><span class="category-name">Aile</span> <span class="count">(32)</span><div class="clear"></div></a></li>
		<li><a href="#"><span class="category-name">Popüler</span> <span class="count">(15)</span><div class="clear"></div></a></li>
	</ul>
</div>
</div>
			<div class="popular-post">
				<h3>Popüler Postlar</h3>
					<div class="post-grid">
						<img src="images/latest-post-img1.jpg" title="post1" alt=""/>
						<p>Lorem ipsum dolor sit amet consectetur dolor more normal of letters,<a href="#">[...]</a></p>
							<div class="clear"> </div>
					  </div>
					    <div class="post-grid">
							<img src="images/latest-post-img2.jpg" title="post1" alt=""/>
							  <p>Lorem ipsum dolor sit dolor more normal consectetur of letters,<a href="#">[...]</a></p>
								<div class="clear"> </div>
						</div>
						<div class="post-grid">
							<img src="images/latest-post-img3.jpg" title="post1" alt=""/>
							  <p>Lorem ipsum dolor sit dolor more normal consectetur of letters sit amet,<a href="#">[...]</a></p>
								<div class="clear"> </div>
						</div>
					<div class="view-all"><a href="#">
						</a><a href="#">ViewAll</a>
					</div>
					<div class="clear"></div>
			</div>
			<div class="latest_comments">
					<h3>Enson Yorumlar</h3>
				<div class="comments">
					<p><span>admin</span> commented on</p>
					 <h4><a href="#">Lorem ipsum dolor sit dolor more normal!</a></h4>
					 <p>June 25th, 2013</p>
				</div>
				<div class="comments">
					<p><span>admin</span> commented on</p>
					 <h4><a href="#">Lorem ipsum dolor sit dolor more normal!</a></h4>
					 <p>June 20th, 2013</p>
				</div>
				<div class="comments">
					<p><span>admin</span> commented on</p>
					 <h4><a href="#">Lorem ipsum dolor sit dolor more normal!</a></h4>
					 <p>June 15th, 2013</p>
				</div>
				</div>
			<div class="latest_photos">
					<h3>Latest Photos</h3>
					<ul>
						<li><a class="fancybox" href="images/img3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img3.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img2.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img1.jpg" alt=""/><span> </span></a></a></li>
						<li><a class="fancybox" href="images/img2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img3.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img2.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/img3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img3.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img2.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img1.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img1.jpg" alt=""/><span> </span></a></li>
					</ul>
				</div>
		</div>
	<div class="clear"></div>
</div>
</div>
<!--------------------- End Main Content ----------------------------------->
<div class="footer">
   	    <div class="footer_grides"> 
   	    	 <div class="wrap">  	    	
				<div class="footer_grid1">
					<h3>Popüler Tweetler</h3>
					<div class="tweet_data">
			<div class="tweet_img">
				<img src="images/tweet-img1.jpg" alt=""/>
		</div>
		<div class="tweet_desc">
			 <h4>June 24th, 2013</h4>
		<p>Integer eget tortor et elit venenatis auctor morbi turpis nulla</p>
		</div>
		<div class="clear"></div>
		</div>	
		<div class="tweet_data">
			<div class="tweet_img">
				<img src="images/tweet-img2.jpg" alt=""/>
		</div>
		<div class="tweet_desc">
			 <h4>June 04th, 2013</h4>
		<p>Integer eget tortor et elit venenatis auctor morbi turpis nulla</p>
		</div>
		<div class="clear"></div>
		</div>	
		<div class="tweet_data">
			<div class="tweet_img">
				<img src="images/tweet-img3.jpg" alt=""/>
		</div>
		<div class="tweet_desc">
			 <h4>May 4th, 2013</h4>
		<p>Integer eget tortor et elit venenatis auctor morbi turpis nulla</p>
		</div>
		<div class="clear"></div>
		</div>	
     </div>			
				<div class="footer_grid2">
					<h3>Sayfa Arayüzü</h3>
								<ul>
						            <li><a href="index.html">Anasayfa</a></li>
						     		<li><a href="single.html">Hakkımda</a></li>
						     		<li><a href="404.html">Hizmetler</a></li>	
						     		<li><a href="single.html">İletişim</a></li>						     		
						   	   </ul>
	  <div class="grid2_bottom">
    	<h3>Newsletters Signup</h3>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
		    <div class="signup">
			    <form>
			    	<input type="text" value="Enter your e-mail here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your e-mail here';"><input type="submit" value="Sign up">
			    </form>
		    </div>
      </div>
   </div>
		<div class="footer_grid3">
			<h3>Takİp Et</h3>
                <div class="social_icons">
                	<div class="img_list">
					    <ul>
					     <li><img src="images/facebook.png" alt="" /><a href="#">Facebook</a></li>
					     <li><img src="images/google+.png" alt="" /><a href="#">Google Plus</a></li>
					     <li><img src="images/twitter.png" alt="" /><a href="#">Twitter</a></li>
					     <li><img src="images/linkedin.png" alt="" /><a href="#">Likedin</a></li>
					    </ul>
					</div>
                </div>
		 </div>
	 <div class="clear"></div>
  </div>
</div>
		 <div class="copy_right">
				<p>Compant Name © All Rights Reseverd | Design by  <a href="http://w3layouts.com">W3Layouts</a> </p>
		   </div>	 
  </div>

</body>
</html>

